{% extends 'base.html'%}
{% load static %}

{% block content %}
<h1>Личная библиотека</h1>

  <p>Добро пожаловать в <em>Личную библиотеку</em></p>

<h2>Список книг</h2>

{% if books %}
    <ul>
      {% for book in books %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
          {% for autor_book in book.author.all %}
          ({{autor_book}})
         {% endfor %}
      </li>
      {% endfor %}

    </ul>
{% else %}
      <p>There are no books in the library.</p>
{% endif %}
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}

