{% extends "base.html" %}

{% block content %}
    <h1>Мои книги</h1>

    {% if book_list %}
    {% for num_book in book_list %}
      <div id="image">
            {% if num_book.image %}
                <img src="{{ num_book.image.url}}" alt="num_book.title" style="width:155px;height:140px;"/>
            {% endif  %}
      </div>
      <div id="autor">
            {% if num_book.author.all|length > 1 %}
                <h4> Авторы</h4>
            {% else  %}
              <h4> Автор</h4>
            {% endif %}
              {% for autor_book in num_book.author.all %}
                  <p> {{ autor_book }}</p>
              {% endfor %}
      </div>
      <div id="title">
            {% if num_book.title %}
              <h4> Название:</h4>
              <a href="{{ num_book.get_absolute_url }}">{{ num_book.title }}</a>
            {% endif  %}
      </div>
      {% endfor %}

    {% else %}
      <p>Нет добавленных книг.</p>
    {% endif %}
{% endblock %}